<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <h2>회원 세부 정보</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>항목</th>
            <th>값</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>이름</td>
            <td th:text="${member.name}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="${member.email}"></td>
        </tr>
        <tr>
            <td>도시</td>
            <td th:text="${member.address?.city}"></td>
        </tr>
        <tr>
            <td>주소</td>
            <td th:text="${member.address?.street}"></td>
        </tr>
        <tr>
            <td>우편번호</td>
            <td th:text="${member.address?.zipcode}"></td>
        </tr>
        <tr>
            <td>주문 건수</td>
            <td th:text="${orderCount}"></td>
        </tr>
        <tr>
            <td>주문 아이템</td>
            <td th:each="item : ${orderItems}" th:text="${item}"></td>
        </tr>
        <tr>
            <td>주문 금액</td>
            <td th:text="${orderAmount}"></td>
        </tr>
        </tbody>
    </table>


    <table class="table table-striped" style="width: 130%;">
        <thead>
        <tr>
            <th>#</th>
            <th>회원명</th>
            <th>상품명</th>
            <th>주문가격</th>
            <th>주문수량</th>
            <th>상태</th>
            <th>일시</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>   <!-- # -->
            <td th:text="${order.member.name}"></td> <!-- 회원명 -->
            <td th:text="${order.orderItems[0].item.name}"></td>  <!-- 상품명 -->
            <td th:text="${order.orderItems[0].orderPrice}"></td> <!-- 주문가격 -->
            <td th:text="${order.orderItems[0].count}"></td> <!-- 주문수량 -->
            <td th:text="${order.status}"></td> <!-- 상태 -->
            <td th:text="${order.orderDate}"></td> <!-- 일시 -->

            <td>
                <a th:if="${order.status.name() == 'ORDER'}" href="#" th:href="'javascript:cancel('+${order.id}+')'"
                   class="btn btn-danger">CANCEL</a>
            </td>

        </tr>
        </tbody>
    </table>


    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>


<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/orders/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>


</html>
